# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go Build+Test

on:
  push:
  pull_request:
    branches: [ "master" ]
  release:
    types: [created]

jobs:

  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [ '1.17', 'stable' ]

    steps:
    - uses: actions/checkout@v3

    - name: Install deps (can we eliminate libsodium?)
      run: sudo apt-get install -y libsodium-dev libzmq3-dev git gcc pkg-config

    - name: Setup Go ${{ matrix.go-version }}
      uses: actions/setup-go@v3
      with:
        go-version: ${{ matrix.go-version }}
        cache: true

    # You can test your matrix by printing the current Go version
    # (see https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go)
    - name: Display Go version
      run: go version

    - name: make build (to be static eventually)
      run: make build

    - name: debugging, calls ls
      run: ls

    - name: Test
      run: go test -v ./...

    - name: Publish GitHub Release Artifacts
      if: github.event_name == 'release' && github.event.action == 'created'
      uses: SierraSoftworks/gh-releases@v1.0.7
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        overwrite: 'true'
        files: dastard

